<% layout('layouts/boilerplate.ejs') %>

<p class="lead font-weight-bold mb-3">"<%= search_query %>"</p>

<form action="/results/?" class="d-flex mb-3">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search Your Campgrounds ...."
    name="search_query"
    aria-label="Search"
    value="<%= search_query %>"
  />
  <button class="btn btn-outline-dark mx-2" type="submit">Search</button>
</form>

<% if (campgrounds.length===0) { %>
<img
  class="d-flex justify-content-center rounded-circle align-items-center  mx-auto my-2"
  style="opacity: 0.5; max-height: 80%; max-width: 80%;"
  src="/images/nothing_here_yet.png"
  alt=""
/>
<% } %> 

<% for( let campground of campgrounds ) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if (campground.images.length) { %>
      <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" />
      <% } else { %>
      <img src="/images/Camping Vector Illustration.png" alt="" />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%= campground.location %> </small>
        </p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-dark"
          >View more..
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
